body {
    font-family: "VT323";
    background-color: rgb(160, 160, 160);
    background-image: url(assests/photos/arran.jpg);
    background-position: 60% 35%;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

p {
    margin: 0;
}

.container {
    padding-left: 7em;
    padding-top: 15em;
    display: flex;
    flex-flow: column wrap;
}

#textHeading {
    order: 1;
    font-size: xx-large;
    width: 8em;
}

#textBody {
    order: 2;
    font-size: x-large;
    width: 24em;
    padding-top: .2em;
}

#links {
    order: 3;
    padding-top: .2em;
    font-size: x-large;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}