body {
    background-color: #9c8181;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#oval-container {
    width: 60vw;
    height: 50vh;
    border: 3px dotted white;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.moving-image {
    filter: grayscale(0.8);
    position: absolute;
    height: 3vw;
    width: 3vw;
    object-fit: contain;
}