@media only screen and (min-width: 992px) {
    body {
        font-family: "VT323";
        background-image: url("assests/photos/arran.jpg");
        background-color: #3a3a3a;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 60% 30%;
    }

    .landing-bg {
        position: absolute;
        /* content: url(assests/photos/arran.jpg); */
        display: block;
        left: auto;
        right: auto;
        width: 98vw;
        height: 98vh;
        z-index: -1;
    }

    .landing-content {
        position: absolute;
        z-index: 0;
    }

    p {
        margin: 0px;
    }

    .fade-in-typing-text > * {
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        animation: typing 5s steps(60) 1s forwards;
        position: relative; /* Add this for caret positioning */
        max-width: 100%;
        padding-left: 80px;
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }

    @keyframes blink-caret {
        from, to {
            border-right: 2px solid transparent;
        }
        50% {
            border-right: 2px solid transparent;
        }
    }

    /* Add this for caret positioning */
    .fade-in-typing-text > *::after {
        z-index: 10;
        content: '|'; /* Create a pseudo-element */
        position: absolute;
        top: 0;
        right: -300px; /* Adjust the right position to align with the text */
        height: 100%;
        border-right: 2px solid #000; /* Set the caret color */
        animation: blink-caret 0.3s step-end ;
    }

    .intro-heading {
        position: relative;
        animation: typing 3s steps(60) 1s forwards, blink-caret 0.5s step-end infinite;
        font-size: 50px; /* Change font size for the first element */
        padding-top: 300px;
    }

    .intro-description {
        position: relative;
        animation: typing 4s steps(60) 3.5s forwards, blink-caret 0.5s step-end infinite;
        font-size: 25px; /* Change font size for the second element */
        padding-top: 10px;
    }

    .intro-description-2 {
        position: relative;
        animation: typing 4s steps(60) 7s forwards, blink-caret 0.5s step-end infinite;
        font-size: 25px; /* Change font size for the third element */
        padding-top: 10px;
    }
}

@media only screen and (max-width: 992px) {
    body {
        font-family: "VT323";
        background-image: url("assests/photos/arran-mobile.jpg");
        background-color: #3a3a3a;
        background-repeat: no-repeat;
        background-size: auto;
        /* background-position: 20% 25%; */
    }
    
    .landing-bg {
        position: absolute;
        content: url(assests/photos/arran-mobile.jpg);
        display: block;
        left: auto;
        right: auto;
        width: 98vw;
        height: 98vh;
        z-index: -1;
    }

    .landing-content {
        position: absolute;
        z-index: 0;
    }

    p {
        margin: 0px;
    }

    .fade-in-typing-text > * {
        overflow: hidden;
        white-space: nowrap;
        width: 0;
        animation: typing 5s steps(60) 1s forwards;
        position: relative; /* Add this for caret positioning */
        max-width: 100%;
        padding-left: 80px;
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }

    @keyframes blink-caret {
        from, to {
            border-right: 2px solid transparent;
        }
        50% {
            border-right: 2px solid transparent;
        }
    }

    /* Add this for caret positioning */
    .fade-in-typing-text > *::after {
        z-index: 10;
        content: '|'; /* Create a pseudo-element */
        position: absolute;
        top: 0;
        right: -300px; /* Adjust the right position to align with the text */
        height: 100%;
        border-right: 2px solid #000; /* Set the caret color */
        animation: blink-caret 0.3s step-end ;
    }

    .intro-heading {
        position: relative;
        animation: typing 3s steps(60) 1s forwards, blink-caret 0.5s step-end infinite;
        font-size: 50px; /* Change font size for the first element */
        padding-top: 300px;
    }

    .intro-description {
        position: relative;
        animation: typing 4s steps(60) 3.5s forwards, blink-caret 0.5s step-end infinite;
        font-size: 25px; /* Change font size for the second element */
        padding-top: 10px;
    }

    .intro-description-2 {
        position: relative;
        animation: typing 4s steps(60) 7s forwards, blink-caret 0.5s step-end infinite;
        font-size: 25px; /* Change font size for the third element */
        padding-top: 10px;
    }
}