html {
    scroll-behavior: smooth;
}

p {
    margin: 0;
}

body {
    font-family: "VT323";
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    width: 100vw;
    height: 200vh;
    margin: 0;
    overflow-x: hidden;
}

#projects {
    order: 2;
    flex-flow: column wrap;
}

@media only screen and (min-width: 768px) {

    #introduction {
        z-index: 1;
        padding-top: 6vh;
        padding-left: 8vw;
        height: 100vh;
        display: flex;
        flex-flow: column wrap;
        position: fixed;
    }

    #more-information {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        justify-content: center;
        background: #333333FF;
        color: white;
        height: 90vh;
        z-index: 4;
        padding: 1em;
        font-size: 2em;
        position: relative;
        margin-top: 100vh;
        transition: transform 0.5s ease-in-out;
        overflow: auto;
    }

    body.scrolled #more-information {
        transform: translateY(0);
    }

    #end-padding{
        opacity: 0;
        margin-top:65vh;
        position: fixed;
        height: 35vh;
        width: 100vw;
        background: #333333FF;
        z-index: 1;
    }

    #arran {
        content: url(assests/photos/arran.webp);
        z-index: -100;
        position: fixed;
        width: 100vw;
        height: 100vh;
        filter: blur(3px);
    }

    #textHeading {
        order: 1;
        font-size: 3em;
        width: 8em;
    }

    #textBody {
        order: 2;
        font-size: 1.5em;
        width: 25vw;
        padding-top: .2em;
        text-align: justify;
    }

    .links {
        order: 3;
        padding-top: .2em;
        font-size: x-large;
        opacity: 0;
        transition: opacity 1s ease;
    }

    #container-for-scroll {
        position: fixed;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        z-index: 2;
    }

    #scroll {
        position: fixed;
        width: 42px;
        height: 42px;
        border: 2px solid #dfdfdf;
        border-radius: 50%;
        animation: down 1.5s infinite;
        -webkit-animation: down 1.5s infinite;
        &::before {
            content: '';
            position: absolute;
            top: 15px;
            left: 13px;
            width: 14px;
            height: 14px;
            border-left: 2px solid #dfdfdf;
            border-bottom: 2px solid #dfdfdf;
            transform: rotate(135deg);
        }
        z-index: 1;
        order: 4;
    }


    @keyframes down {
        0% {
            transform: translate(0);
        }
        20% {
            transform: translateY(-15px);
        }
        40% {
            transform: translate(0);
        }
    }

    @-webkit-keyframes down {
        0% {
            transform: translate(0);
        }
        20% {
            transform: translateY(-15px);
        }
        40% {
            transform: translate(0);
        }
    }

    #about-extended {
        text-align: justify;
    }

    .headers {
        font-size: xx-large;
        width: 8em;
    }
}

@media only screen and (max-width: 768px) {

    body {
        font-family: "VT323";
        background-image: url(assests/photos/arran_mobile.webp);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-flow: column wrap;
        justify-content: left;
        width: 100vw;
        height: 100vh;
        margin: 0;
    }

    #introduction {
        z-index: 2;
        order: 1;
        padding-top: 6vh;
        padding-left: 4vw;
        height: 30vh;
        display: flex;
        flex-flow: column wrap;
        font-size: 3em;
    }

    #textHeading {
        order: 1;
        font-size: xx-large;
        width: 8em;
    }

    #textBody {
        order: 2;
        font-size: x-large;
        width: 90vw;
        padding-top: .2em;
    }

    .links {
        order: 3;
        padding-top: .2em;
        font-size: x-large;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    #about-extended {
        order: 4;
        padding-top: 60vh;
        font-size: small;
    }

    .headers {
        font-size: xx-large;
        width: 8em;
    }



    /* valentine css stuff */

    #valentine {
        order: 4;
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }

    #valentine-gif {
        padding-top: 20vh;
        display: flex;
        flex-flow: row wrap;
        order: 1;
        justify-content: center;
    }

    #valentine-text {
        padding-top: 0.6em;
    }

    #valentine-answer {
        order: 2;
        padding-top: 3em;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    #valentine-reply {
        order: 3;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    #reply-no {
        padding-top: 0.6em;
        opacity: 0;
    }

    #reply-yes {
        padding-top: 0.6em;
        opacity: 0;
    }

    #button-yes {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        margin: 5px;
        background-color: rgb(235, 98, 98);
        color: black;
    }
    #button-no {
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        margin: 5px;
        background-color: rgb(235, 98, 98);
        color: black;
    }
    
    button:hover {
        background-color: rgb(235, 98, 98);
    }
    
    button:active {
        background-color: rgb(235, 98, 98);
    }
}